<footer class="site-footer h-card">
  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      
      <div class="footer-col">
        <h3 class="footer-heading">Matthew Casali</h3>
        <ul class="contact-list">
            <li>
                <i class="fas fa-envelope"></i>
                <a href="mailto:casali.ma98@gmail.com">casali.ma98@gmail.com</a>
            </li>
            <li>
                <i class="fab fa-linkedin"></i>
                <a href="https://www.linkedin.com/in/matthew-casali-761158133" target="_blank">LinkedIn</a>
            </li>
            <li>
                <i class="fas fa-phone"></i>
                <span>(650)-799-5462</span>
            </li>
        </ul>
      </div>

      <div class="footer-col">
        <h3 class="footer-heading">About This Site</h3>
        <p class="footer-description">
          {{ site.description }}
        </p>
      </div>

    </div>

  </div>
</footer>